@font-face {
    font-family: 'DLFont EN';
    src: url('../fonts/itcavantgardestd-boldcn.ttf') format('truetype'),
}

@font-face {
    font-family: 'DLFont JP';
    src: url('../fonts/fot-rodinntlgpro-b.otf') format('opentype'),
}

@font-face {
    font-family: 'DLFont SC';
    src: url('../fonts/hydaheis.ttf') format('truetype'),
}

@font-face {
    font-family: 'DLFont TC';
    src: url('../fonts/arheib5.ttf') format('truetype'),
}